
.settingsNavMenu {
  height: 70px;
  border-bottom: $secondaryColor thin solid;
}
.prevRoute {
  height: 70px;
  width: 70px;
  background: none;
  font-size: 16px;
  color: white;
  border:none;
  float: left;
}

.settingsMain {
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
}

.settingsNavTitle {
  float: left;
  font-size: 36px;
  font-weight: 300;
  padding: 15px;
}

.soundLevel {
  position: relative;
  display: inline;
  width: 100px;
  overflow: auto;
}

.selector {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.dynamicBehavior {
  font-size: 18px;
  line-height: 2em;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 20px;

  p {
    text-align: right;
    line-height: 1.5;
  }
}

.volumeRangeSlider {
  padding: 0px 20px 10px 20px;
  box-sizing: border-box;
  i {
    float: left;
    font-size: 24px;
  }
}

.range-slider-wrapper {
  width: 80%;
  float: left;
  margin: -6px 10px 0;
}

.dynamicVolume {
  padding: 15px 15px 0;
  box-sizing: border-box;
  // border-bottom: $secondaryColor thin solid;
  overflow: auto;
}

.dynamicVolumeLabel {
  font-size: 28px;
  float: left;
  font-weight: 300;
}

.dynamicVolumeToggle {
  float: right;
}

.presets {
  overflow: hidden;
  overflow-x: scroll;
}

.presets-wrapper {
  border-bottom: $secondaryColor thin solid;
  padding: 9px;
  box-sizing: border-box;
  height: 60px;
  width: 500px;
  box-sizing: border-box;
  overflow-x: auto;
  button {
    float: left;
    box-sizing: border-box;
    font-size: 20px;
    width: 95px;
    height: 40px;
    background: none;
    color: $secondaryColor;
    border: none;
    border-right: $secondaryColor thin solid;
    &:last-child {
      border-right: none;
    }
  }
}

.volumeRangeName {
  text-align: center;
  padding: 7px;
  font-size: 18px;
}

.resetButton {
  display: block;
  margin: 50px auto;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  padding: 10px;
  border: $secondaryColor thin solid;
  background: none;
  color: white;
  border-radius: 5px;
  width: 80%;
}
